@import './_defs';

:root,
.sapphire {
    --C-primary: #{$sapphire};
    --C-primaryDarkest: #{$sapphireDarkest};
    --C-primaryLightest: #{$sapphireLightest};
}

.emerald {
    --C-primary: #{$emerald};
    --C-primaryDarkest: #{$emeraldDarkest};
    --C-primaryLightest: #{$emeraldLightest};
}

.ruby {
    --C-primary: #{$ruby};
    --C-primaryDarkest: #{$rubyDarkest};
    --C-primaryLightest: #{$rubyLightest};
}
