.bizj,
html {
    .btn {
        border-radius: 2px;
        border-style: solid;
        border-width: 1px;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 0;
        padding: 0.5em 0.8em 0.4em;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;

        &,
        & a,
        & a:hover {
            text-decoration: none;
        }

        &.primary {
            background-color: var(--C-primary);
            color: white;
        }

        &:focus {
            outline: 1px dotted #333;
        }

        &.no-focus,
        &.no-focus:active,
        &.no-focus:focus {
            outline: 0;
        }

        &:focus,
        &:hover {
            text-decoration: none;
        }

        &.active,
        &:active {
            outline: 0;
            background-image: none;
            box-shadow: inset 0 0.3rem 0.5rem rgba(0, 0, 0, 0.125);
        }

        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            box-shadow: none;
            cursor: not-allowed;
            opacity: 0.65;
            pointer-events: none;
        }

    }
}
