$SM: 640px;
$MD: 768px;
$LG: 1024px;
$XL: 1280px;

:root {
    --S-basis: 320px; // basically 0
    --S-sm: 640px;
    --S-md: 768px;
    --S-lg: 1024px;
    --S-xl: 1280px;
}

@media (min-width: ($SM)) {
    :root {
        --S-basis: #{$SM};
    }
}

@media (min-width: ($MD)) {
    :root {
        --S-basis: #{$MD};
    }
}

@media (min-width: ($LG)) {
    :root {
        --S-basis: #{$LG};
    }
}

@media (min-width: ($XL)) {
    :root {
        --S-basis: #{$XL};
    }
}
