@tailwind base;
@tailwind components;
@tailwind utilities;


@layer reset {
    html {
        font-size: 62.5%;
    }

    body {
        font-size: 1.6em
    }
}

@layer dev {
    .dev [dev-flex] {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    .dev [dev-grid] {
        border-bottom: 1px dotted silver;
        display: grid;
        grid-auto-flow: column;
    }

    .dev [dev-grid] pre {
        border: 1px dashed silver;
    }

    .dev [dev-inset] {
        box-shadow: 0 0 0.5rem inset silver;
        overflow: scroll;
        padding: 1em;
    }

}
