@import './_defs';

// SKELETON STYLES

@import './TopNav-links';
@import './MarketNav-grid';
@import './MarketNav-other';
@import './MarketNav-queries';
@import './SiteNav';


// temp dev tricks
@import './z-dt';

.flexlist {
    display: flex;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}
