#MarketNav {
    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: var(--C-primary);
            text-decoration: underline;
        }
    }

    /* hookup area names */
    #MarketBranding {
        grid-area: BRD;
    }

    #MarketPromo {
        grid-area: PRM;
    }

    #MarketSubOffer {
        grid-area: SOF;
    }

    #MarketSiteLinksDropdown {
        grid-area: DRD;
    }

    #MarketSiteLinksBar {
        grid-area: LKS;
    }

    #MarketSearch {
        grid-area: SRH;
    }

    align-items: center;
    display: grid;
    gap: 1rem;
    // grid-auto-columns: 1fr; /* make even width */
    $SM: 640px;
    $MD: 768px;
    $LG: 1024px;
    $XL: 1280px;

    @media (min-width: 0px) {

        #MarketPromo,
        #MarketSiteLinksBar {
            display: none;
        }

        grid-template-areas: //
        ' DRD BRD SRH '
        ' SOF SOF SOF '
    }

    @media (min-width: ($SM)) {
        grid-template-areas: //
            ' DRD BRD SOF SRH '
    }

    @media (min-width: ($LG)) {

        #MarketPromo,
        #MarketSiteLinksBar {
            display: block;
        }

        grid-template-areas: //
        ' BRD BRD PRM PRM ... SOF SOF '
        ' DRD LKS LKS LKS LKS LKS SRH '
    }

    @media (min-width: ($XL)) {
        grid-template-areas: //
            ' BRD BRD PRM PRM ... SOF SOF '
            ' DRD LKS LKS LKS LKS LKS SRH '
    }
}
