/* OTHER  */
#MarketBranding {
    background-color: var(--C-primary);
    background-image: url('/assets/images/stripes-12px.png');
    width: 18rem;

    img {
        margin: 1rem 3rem;
    }
}

#MarketPromo {
    .title {
        text-transform: uppercase;
    }
}

#MarketSiteLinksDropdownMenu {
    background-color: #eee;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#MarketSearch {
    #MarketSearchTrigger {
        text-align: right;
    }
    #MarketSearchDropDown {
        background-color: var(--C-primaryDarkest);
        left: 0;
        padding: 1em;
        position: absolute;
        width: 100%;
        z-index: 1;

        form {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        input {
            margin: auto;
            width: 80%;
        }
    }
}
