/* OTHER  */
#MarketBranding {
    background-color: var(--C-primary);
    background-image: url('/assets/images/stripes-12px.png');
    background-repeat: repeat;
    width: 18rem;

    a {
        display: block;
    }
    img {
        margin: 1rem 3rem;
    }
}

#MarketPromo {
    text-emphasis: none;
    .title {
        font-size: x-small;
        font-weight: 100;
        text-transform: uppercase;
    }
    .body {
        font-size: small;
        font-weight: 600;
    }
}

#MarketSiteLinksDropdownMenu {
    background-color: #eee;
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: 1;
}

#MarketSearchTrigger {
    text-align: right;
}
#MarketSearchDropDown {
    background-color: var(--C-primaryDarkest);
    left: 0;
    padding: 1em;
    position: absolute;
    width: 100%;
    z-index: 1;

    form {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    input {
        font-size: 2rem;
        margin: auto;
        width: 80%;
    }
}
