/* GRID  */
#MarketNav {

    /* hookup area names */
    #MarketBranding {
        grid-area: BRD;
    }
    #MarketPromo {
        grid-area: PRM;
    }
    #MarketSubOffer {
        grid-area: SOF;
    }
    #MarketSiteLinksDropdown {
        grid-area: DRD;
    }
    #MarketSiteLinksBar {
        grid-area: LKS;
    }
    #MarketSearch {
        grid-area: SRH;
    }

    align-items: center;
    display: grid;
    gap: 1rem;

    @media (min-width: 0) {
        #MarketPromo,
        #MarketSiteLinksBar {
            display: none;
        }

        grid-template-areas: //
        ' DRD BRD SRH '
        ' SOF SOF SOF '
    }

    @media (min-width: ($SM)) {
        grid-template-areas: //
            ' DRD BRD SOF SRH '
    }

    @media (min-width: ($LG)) {
        #MarketPromo,
        #MarketSiteLinksBar {
            display: block;
        }

        grid-template-areas: //
        ' BRD BRD PRM PRM ... SOF SOF '
        ' DRD LKS LKS LKS LKS LKS SRH '
    }

    @media (min-width: ($XL)) {
        grid-template-areas: //
            ' BRD BRD PRM PRM ... SOF SOF '
            ' DRD LKS LKS LKS LKS LKS SRH '
    }
}
