/* GRID  */
#MarketNav {

    /* hookup area names */
    #MarketBranding {
        grid-area: BRND;
    }
    #MarketPromo {
        grid-area: PRMO;
    }
    #MarketSubOffer {
        grid-area: SOFF;
    }
    #MarketSiteLinks {
        grid-area: LBAR;
    }
    #MarketSearch {
        grid-area: SHAR;
    }

    align-items: center;
    display: grid;
    gap: 1rem;

    @media (min-width: 0) {
        #MarketPromo,
        .outside.marketSiteLinksBar {
            display: none;
        }

        grid-template-areas: //
        ' LBAR BRND SHAR '
        ' SOFF SOFF SOFF '
    }

    @media (min-width: ($SM)) {
        grid-template-areas: //
            ' LBAR BRND SOFF SHAR '
    }

    @media (min-width: ($LG)) {
        #MarketPromo,
        .outside.marketSiteLinksBar {
            display: inline-block;
        }
        .inside.marketSiteLinksBar {
            display: none;
        }

        grid-template-areas: //
        ' BRND BRND PRMO PRMO .... SOFF SOFF '
        ' LBAR LBAR LBAR LBAR LBAR LBAR SHAR '
    }

    @media (min-width: ($XL)) {
        grid-template-areas: //
            ' BRND BRND PRMO PRMO .... SOFF SOFF '
            ' LBAR LBAR LBAR LBAR LBAR LBAR SHAR '
    }
}
