@import './bizj-bones'; // brand essentials to make skeleton

#TopNav {
    // @extend %bizj; // work with bizj bones

    margin-bottom: 9em;
    min-width: var(--S-basis);
    overflow: visible;

    a {
        &:hover {
            color: var(--C-primary);
            text-decoration: underline;
        }
    }
}
