@import './bizj-bones'; // brand essentials to make skeleton

#TopNav {
    @extend %bizj; // work with bizj bones

    font-family: sans-serif;
    margin-bottom: 9em;
    min-width: var(--S-basis);
    overflow: visible;

    a {
        color: black;
        text-decoration: none;

        &:hover {
            color: var(--C-primary);
            text-decoration: underline;
        }
    }
}
