#SiteNav {
    @include devOutline(green, solid);
    position: relative;
}

#MarketNav {
    @include devOutline(red, solid);
    position: relative;

    #MarketBranding {
        @include devOutline(red);
    }
    #MarketPromo {
        @include devOutline(green);
    }
    #MarketSubOffer {
        @include devOutline(blue);
    }
    #MarketSiteLinks {
        @include devOutline(cyan);
    }
    #MarketSearch {
        @include devOutline(purple);
    }
}

.dev {
    [dev-flex] {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }

    [dev-grid] {
        border-bottom: 1px dotted silver;
        display: grid;
        grid-auto-flow: column;

        pre {
            border: 1px dashed silver;
        }
    }
}

[dev-inset] {
    box-shadow: 0 0 0.5rem inset silver;
    overflow: scroll;
    padding: 1em;
}
